* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'helvetica';
}
:root {
    --bg:#F0F2F5;
    --brand1: #166FE5;
    --green: #36A420;
    --black:#1C1E21;
    --b:1px solid blue;
    --outline: #1877F2;   
}
@font-face {
    font-family: 'helvetica';
    src: url(./fonts/Helvetica.ttf);
}
